
* {
    color: #fff;
}
body {
    background-image: url("https://media.tenor.com/BF4gZl4K2LcAAAAC/future.gif");
    background-repeat: no-repeat;
    background-size: cover;
  }

.container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100vh;
  }
  
  .header-box {
    margin-bottom: 3rem;
  }
  
 
  
 
  
  @keyframes rotate {
    0% {
      transform: rotate(0deg);
    }
    100% {
      transform: rotate(360deg);
    }
  }
  
  .quote-box {
    margin-top: 3rem;
    margin-bottom: 3rem;
    text-align: center;
  }
  
  .quote-box p:first-of-type {
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 1rem;
    line-height: 1.2;
  }
  
  .quote-box p:last-of-type {
    font-size: 1.5rem;
    font-style: italic;
  }
  
  .button-box button {
    display: inline-block;
    margin: 20px;
    padding: 10px 20px;
    font-size: 18px;
    font-weight: bold;
    text-transform: uppercase;
    color: #fff;
    background-color: #0077cc;
    border: none;
    border-radius: 5px;
    box-shadow: 0 3px 5px rgba(0, 0, 0, 0.3);
    cursor: pointer;
    transition: all 0.2s ease-in-out;
  }
  
  .button-box button:hover {
    background-color: #006699;
    box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
    transform: translateY(-2px);
  }